@font-face {
    font-family: amstrad;
    src: url('./fonts/Web437_Amstrad_PC-2y.woff') format('woff');
}

.old-skool-mini {
    font-family: amstrad;
    letter-spacing: .05em;
}

.old-skool {
    font-family: amstrad;
    letter-spacing: .05em;
    font-size: 1em;
}

.old-skool-title {
    font-family: amstrad;
    letter-spacing: .1em;
    font-size: 1.1em;
    padding: .5em;
    text-align: left;
}

body {
    background-color: black;
    color: lime;
    font-family: amstrad;
    font-size: 1em;
    letter-spacing: .05em;
}

#main {
    height: 95vh;
}

a {
    color: red;
}
button {
}
.capture-list {
}
.capture-item {
}
.request-description-container {
    display: grid;
}
.request-name {
    background-color: black;
    outline: none;
    color: lime;
    border: outset .25em lime;
    padding: .75em;
}
.request-description {
    background-color: purple;
    color: lime;
    margin-top: .5em;
    border: inset .25em lime;
    margin-bottom: .5em;
}
.request-type {
    border: solid .1em lime;
    text-align: center;
    background-color: black;
    color: lime;
}
.request-input {
    width: 100%;
    background-color: black;
    padding: .75em;
    border: solid .1em lime;
    color: lime;
}
.request-submit {
    background-color: lime;
    border-color: lime;
    color: black;
    padding: .75em;
}
.request-save {
    background-color: black;
    color: lime;
}
.option-selector {
    padding: .5em;
    background-color: black;
    color: lime;
    font-weight: 700;
    outline: none;
    border: none;
}
.request-container {
    display: block;
    padding: .3em;
}
.new-request-container {
    padding: .5em;
    background-color: #505050;
    position: relative;
    display: grid;
    box-shadow: .3em .3em #00FF00;
}
.request-tabs {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.request-tab-selected {
    background-color: lime;
    border: none;
    color: black;
    padding: .5em;
}
.request-tab {
    background-color: black;
    border: solid .1em lime;
    color: lime;
    padding: .5em;
}
.request-content-select {
    padding: .5em;
    background-color: black;
    color: lime;
    border: solid .1em lime;
    outline: none;
}
.request-option-container {
    height: 25vh;
    background-color: black;
    margin-top: .5em;
    border: inset lime;
}
.request-body {
    background-color: black;
    color: lime;
    outline: none;
    resize: none;
    border: none;
}
.beautify-button {
    background-color: black;
    color: lime;
    border-color: lime;
}
.response-show {
    padding: 0.75em;
    background-color: #F4E409;
    color: #000000;
    display: block;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.response-container {
    height: 25vh;
    background-color:#800080 ;
    border: inset black;
    color: lime;
    padding: .25em;
}
.response-section {
    background-color: #505050;
}
.response-header-selected {
    padding: .75em;
    background-color: lime;
    color: black;
    border: black .35em inset;
}
.response-header {
    padding: .75em;
    background-color: black;
    color: lime;
    border: black .35em outset;
}
.response-option {
    width: 100%;
    border: none;
    color: #00FF00;
    border: solid .1em #00FF00;
    padding: .5em;
    overflow-wrap: anywhere;
}
.response-option-container {
    overflow-y: scroll;
    height: 100%;
}
.response-body-container {
    height: 20vh;
    display: grid;
    background-color: black;
    margin-top: .5em;
}
.response-body {
    background-color: #800080;
    color: #00FF00;
    outline: none;
    resize: none;
    border: none;
}
.option-container {
    padding: .5em;
    border: solid .1em lime;
}
.option-button-container {

}
.options-add {
    padding: .75em;
    background-color: lime;
    color: black;
    border: none;
}
.options-edit {
    padding: .5em;
    background-color: black;
    border: outset .1em lime;
    color: lime;
}
.option-input {
    width: 100%;
    border: none;
    color: lime;
    background-color: black;
    outline: none;
}
.traffic-container {
    display: block;
    padding: .3em;
}
.traffic-container-content {
    background-color: #505050;
    box-shadow: .25em .25em red;
}
.traffic-option-selected {
    padding: .5em;
    background-color: lime;
    color: black;
    border: black .35em inset;
    font-family: amstrad;
}
.traffic-option {
    padding-top: .5em;
    background-color: black;
    color: lime;
    display: grid;
    grid-template-columns: 10% 20% 20% 50%;
    font-family: amstrad;
}
.traffic-option-value {
    text-align: center;
}
.traffic-overflow-container::-webkit-scrollbar {
    display: none;
}
.traffic-overflow-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    border: inset .25em black;
    background-color: black;
    height: 30vh;
    margin: .5em;
}
.traffic-header {
    background-color: lime;
    color: black;
    padding: .25em;
    display: grid;
    grid-template-columns: 10% 20% 20% 50%;
}
.traffic-row-item {
    padding: .25em;
    display: grid;
    grid-template-columns: 20% 20% 60%;
}
.traffic-settings-container {
    display: grid;
}
.export-settings {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
}
.project-info-container {
    display: flex;
}
.project-info-label {
    margin: auto;
}
.project-info-input {
    font-family: 'amstrad';
    padding: .25em;
    font-size: 1em;
    background-color: black;
    margin: auto;
    color: lime;
}